@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .nav {
    @apply flex flex-col justify-center h-14 relative tablet:mt-6;
  }

  .nav-part {
    @apply flex items-center;
  }

  .avatar {
    @apply w-8 h-8 tablet:w-10 tablet:h-10 tablet:rounded-full tablet:border-2 tablet:hover:border-Orange tablet:border-transparent cursor-pointer;
  }

  .menu {
    @apply hidden absolute bg-White top-0 left-0 h-screen w-4/5 px-8 pt-24 tablet:relative tablet:flex tablet:flex-row tablet:p-0 tablet:h-auto tablet:bg-opacity-0 tablet:ml-8;
  }

  .menu li {
    @apply mb-6 font-bold text-lg tablet:m-0 tablet:mr-4 tablet:font-normal text-Grayish-blue cursor-pointer tablet:text-base tablet:border-b-4 tablet:border-transparent tablet:hover:border-Orange tablet:hover:text-Black tablet:hover:font-bold tablet:pb-8 tablet:after:content-[attr(data-text)] tablet:after:block  tablet:after:h-0 tablet:after:invisible tablet:after:overflow-hidden tablet:after:font-bold;
  }

  .cart-card {
    @apply hidden absolute bg-White top-16 z-10 py-3 px-5 rounded-md mx-3 w-[calc(100%_-_1.5rem)] drop-shadow-2xl tablet:right-0 tablet:w-2/6;
  }

  .menu-active {
    @apply block tablet:flex;
  }

  .menu-active-cart {
    @apply block;
  }

  .cart-card h3 {
    @apply font-bold;
  }

  .cart-info {
    @apply h-20 flex items-center justify-between;
  }

  .img-cart {
    @apply w-16 h-16 rounded-md;
  }

  .product {
    @apply tablet:flex tablet:py-5 tablet:px-14 tablet:mt-12 laptop:py-10 laptop:px-28;
  }

  .product-img {
    @apply tablet:w-1/2 tablet:h-1/2 tablet:rounded-3xl;
  }

  .product-card {
    @apply mx-8 my-4 font-Kumbh-Sans laptop:ml-16 laptop:mt-16;
  }

  .company {
    @apply uppercase text-Orange font-bold text-sm tracking-wider;
  }

  .name {
    @apply text-3xl mt-2 font-bold laptop:text-4xl;
  }

  .description {
    @apply mt-4 text-Dark-grayish-blue;
  }

  .price {
    @apply flex justify-between mt-6 tablet:flex-col;
  }

  .curr-price {
    @apply text-2xl mr-6 font-bold tablet:mr-2;
  }

  .discount {
    @apply bg-Pale-orange text-Orange px-1 rounded-md font-bold;
  }

  .orgi-price {
    @apply text-Grayish-blue line-through;
  }

  .add-to-cart {
    @apply w-full mt-4 tablet:flex;
  }

  .count {
    @apply bg-Light-grayish-blue rounded-md py-3 px-4 flex justify-between items-center font-bold tablet:w-3/5 tablet:mr-2 laptop:mr-8;
  }

  .btn-cart {
    @apply bg-Orange text-White rounded-md p-3 text-center w-full mt-4;
  }
}
